.App {
  /* text-align: center; */
  width: 200px;
  height: 50px;
  margin: 0 300px;


}

body {
  background-image: url('https://image.freepik.com/free-photo/collection-vegetables-isolated-white-background_44074-1572.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}



ul li {
  display: block;
  list-style: none;
  margin-right: 5em;
  margin-top: 5em;

}

nav {

  margin: auto;
}

h1{
  color:rgb(88, 209, 18);
}